body{
    background-color: lightgray;
}
header{
    display: flex;
    justify-content: space-between;
    top: 0;
}
.logo{
    max-width: 100%;
    width: 180px;
    height: 100px;
    object-fit: cover;
    margin-left: -20px;
}
   .menu ul{
    display: flex;
    font-size: 1.25rem;
    list-style: none;
    margin-right: 5px;
   }
   .menu li{
    margin-left: 35px;
   }
   .form{
    text-align: center;
   }
   .company-name, .name, .tel, .email{
    width: 60%;
    height: 30px;
    margin-bottom: 15px;
   }
   .message{
    width: 60%;
    height: 300px;
   }