.top-content {
    background-color: skyblue;
    padding: 20px;
    height: 250px;
    width: 50%;
}
.bottom-content {
    background-color: pink;
    margin: 20px;
    height: 150px;
    width: 30%;
}
header {
    border: 2px solid;
    border-color: red;
}
.a1{
    text-decoration: underline;
}
.k1{
    text-decoration: underline dotted;
}
.s1{
    text-decoration: underline dashed red;
}
.t1{
    text-decoration: none;
}
.n1{
    text-decoration: none;
}
ol li a{
    text-decoration: none;
}
.colors{
    width: 20%;
    height: auto;
    background: linear-gradient(to right,skyblue,rgb(220, 184, 239),white );
}
.area1 {
    width: 200px;
    height: auto;
    background-color: red;
}
.area2 {
    width: 200px;
    height: auto;
    background-color: red;
    opacity: 0.7;
}
.x, .y, .z{
    color: red;
    padding: 40px;
}